/* 
-------ARTICLE--------
 */
#body-index {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-position: 55%;
}
.home {
  margin-left: 6rem;
  padding: 1rem 10rem;
  height: 100vh;
  display: flex;
  align-items: center;
}

.home-content {
  max-width: 45vw;
  padding: 1rem;
}

.home-content h1 {
  position: relative;
  font-size: 50px;
  margin: 0px;

  line-height: 1.2;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  margin: 0;
  color: var(--bg-secondary);
}

.home-content p {
  position: relative;
  margin: 20px 20px 30px;
}

.home-content .btn-box {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  bottom: 170px;
}
/* 
Creating buttons
 */
.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
/* 
Links to my socials 
*/
.home-sci {
  position: absolute;
  bottom: 40px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 2px solid var(--bg-secondary);
  border-radius: 50%;
  font-size: 20px;
  color: var(--bg-secondary);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
/* 
Creating my contact form 
*/
.heading {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: var(--bg-secondary);
}
.contact {
  margin-left: 6rem;
  margin-right: 1rem;
  min-height: auto;
  padding-bottom: 7rem;
}

.contact form {
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}
.contact form .input-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.8rem 0;
}
/* 
Styling the form
 */
.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  background: transparent;
  border-radius: 0.6rem;
  border: 0.2rem solid var(--bg-secondary);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
  font-weight: 600;
}

/* 
Removes arrow up and down on mobilenumber field
First one is for Chrome, Edge, Opera 
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 
This one is for Firefox
 */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* 
Allows me to get an animation when the field is focused
 */
.contact form .input-box .input-field input:focus ~ .focus,
.contact form .input-box .input-field input:valid ~ .focus,
.contact form .textarea-field textarea:focus ~ .focus,
.contact form .textarea-field textarea:valid ~ .focus {
  width: 100%;
}
.contact form .focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--bg-secondary);
  border-radius: 0.6rem;
  z-index: -1;
  transition: 0.5s;
}

.contact form .textarea-field {
  position: relative;
  margin: 0.8rem 0 2.7rem;
  display: flex;
}

.contact form .textarea-field textarea {
  resize: none;
}

.contact form .btn-box.btns .btn {
  cursor: pointer;
}

.btn-box .btn {
  font-size: 2rem;
  font-weight: 700;
  color: var(--bg-secondary);
}

/* 
-------------- PORTFOLIO -----------------
*/

.project-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

.project-box {
  position: relative;
  margin: 3rem;
  padding: 1rem;
  border: 5px solid var(--bg-secondary);
  border-radius: 1rem;
  width: 30vw;
  height: 40vh;
  
}

.project-box h3 {
  display: inline;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.555);
  color: var(--bg-primary);
  border-radius: 0.5rem;
  padding: 3px;
  margin-top: 0px;
}
.project-box p {
  color: var(--bg-primary);
  font-size: 1.2rem;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.555);
  padding: 5px;
  border-radius: 0.5rem;
}
.project-box .linkGame {
  position: absolute;
  bottom: 15px;
  background-color: rgba(0, 0, 0, 0.555);
  border: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  padding: 5px;
}
.project-box a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding: 7px;
  font-weight: 900;
}

.project-box:nth-child(1) {
  background-image: url("../images/rock-paper-scissors-neon-icons-vector\(1\).jpg");
  background-size: cover;
}
.project-box:nth-child(2) {
  background-image: url("../images/webp_22db94bf-dc6b-42d0-b9b4-fb3e2c641d16.jpg");
  background-size: cover;
}

/*  
-------------- EDUCATION -------------
*/
.education {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.education h2 {
  margin: 0;
  padding: 1rem;
  font-size: 2.5rem;
}
.education-boxes {
  display: flex;

  flex-direction: column;
  flex-wrap: wrap;
}

.education-box {
  margin: 2rem;
  margin-left: 6rem;
  padding: 1rem;
  border: 5px solid var(--bg-secondary);
  border-radius: 1rem;
  max-width: 50rem;
  height: 40vh;
  overflow: auto;
}

.education-box h3 {
  font-size: 2rem;
  margin: 0;
}
/* 
-----Dark mode button-----
*/
.dark {
  background-color: #2e2e2e;
  color: white;
}
.dark-index {
  background-size: cover;
  background-position: center;
  color: white;
}

/*
  Media queries
  */
@media only screen and (max-width: 1600px) {
  #body-index {
    background-position: 65%;
  }
  /* 
  -----ARTICLE-----
   */
  .home {
    margin-left: 0;
    padding: 1rem 6rem;
  }
}
@media only screen and (max-width: 600px) {
  /* 
  -----ARTICLE-----
  */
  .home {
    margin: 0;
    padding: 0;
    background-position: 70%;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    bottom: 0;
    height: 100%;
  }
  .home-content h1 {
    font-size: 2rem;
    margin: 0;
  }
  .home-content h3 {
    font-size: 1.5rem;
  }
  .home-content p {
    width: 170%;
    margin: 0;
  }
  .home-content .btn-box {
    position: absolute;
    bottom: 170px;
    flex-direction: column;
    height: 100px;
    gap: 10px;
  }
  .home-sci {
    position: absolute;
    bottom: 100px;
    left: 20px;
    justify-content: start;
    gap: 10px;
  }
  /* 
  -----CONTACT-----
  */
  .contact {
    margin: auto;
    scale: 0.8;
    height: 400px;
  }
  .input-box .textarea-field {
    font-size: 1rem;
  }
  /* 
  -----Portfolio-----
  */
  .portfolio {
    margin-bottom: 6rem;
  }
  .project-box {
    width: 90vw;
    margin: 2rem;
  }
  /* 
  -----Education-----
  */
  .education {
    margin-left: 0;
    margin-bottom: 6rem;
  }
  .education-box {
    margin: 20px auto;
    width: 90vw;
  }
}
