/* ARTICLE */
.home {
  margin-left: 6rem;
  padding: 1rem 10rem;
  height: 100vh;
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.home-content {
  max-width: 45vw;
  padding: 1rem;
}

.home-content h1 {
  position: relative;
  font-size: 50px;
  margin: 0px;
  margin-right: 50px;
  line-height: 1.2;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  margin: 0;
  color: var(--bg-secondary);
}

.home-content p {
  position: relative;
  margin: 20px 20px 30px;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 2px solid var(--bg-secondary);
  border-radius: 50%;
  font-size: 20px;
  color: var(--bg-secondary);
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
